<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../statics/style/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <title>full website</title>
</head>
<body>
    <!-- head part start -->
    <div class="header" id="topheader">
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
      <div class="container text-uppercase p-2">
      <a class="navbar-brand font-weight-bold text-white" href="#">Meghavi</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#topheader">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#offerdiv">Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricingdiv">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#newsletterid">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactid">Contacts</a>
          </li>
      </div>
     </div>
    </nav>
          <section class="header-section">
            <div class="center-div">
              <h1 class="font-weight-bold">We are web devloper</h1>
              <p>We can create most stunning websites in the world</p>
              <div class="header-buttons">
                <a href="#newsletterid">About us</a>
                <a href="#contactid">Contact Us</a>

              </div>
            </div>
          </section>
    </div>
    <!-- header part end -->
    <!-- 3 extra div start -->
    <section class="extra-div">
      <div class="container">
        <div class="row">
          <div class="new-div col-lg-4 col-md-4 col-12">
            <a href="#">
             <i class="fa-3x fa fa-desktop"></i>
            </a>
            <h2>Easy to use</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a consectetur sem, sed laoreet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus velit, eleifend sed placerat at, congue ac felis. Aenean ut sollicitudin risus. Nunc vitae felis lacus. Fusce convallis turpis ligula, eu imperdiet diam congue ac</p>
          </div>
          <div class="new-div col-lg-4 col-md-4 col-12">
            <a href="#">
             <i class="fa-3x fa fa-trophy"></i>
            </a>
            <h2>Easy to use</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a consectetur sem, sed laoreet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus velit, eleifend sed placerat at, congue ac felis. Aenean ut sollicitudin risus. Nunc vitae felis lacus. Fusce convallis turpis ligula, eu imperdiet diam congue ac</p>
          </div>
          <div class="new-div col-lg-4 col-md-4 col-12">
            <a href="#">
             <i class="fa-3x fa fa-magic"></i>
            </a>
            <h2>Easy to use</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a consectetur sem, sed laoreet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus velit, eleifend sed placerat at, congue ac felis. Aenean ut sollicitudin risus. Nunc vitae felis lacus. Fusce convallis turpis ligula, eu imperdiet diam congue ac</p>
          </div>
        </div>
      </div>
    </section>
    <!-- extra div end -->
    <!-- offer section starts -->
    <section class="offersection" id="offerdiv">
      <div class="container heading text-center">
        <h1>WHAT DO WE OFFER</h1>
        <p class="text-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 col-10 offset-1 offset-lg-0">
            <div class="names my-3">
              <h1>HTML</h1>
              <div class="progress w-75">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%;">100%</div>
              </div>
            </div>
            <div class="names my-3">
              <h1>PYTHON</h1>
              <div class="progress w-75">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 80%;">80%</div>
              </div>
            </div>
            <div class="names my-3">
              <h1>CSS</h1>
              <div class="progress w-75">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 90%;">90%</div>
              </div>
            </div>
            <div class="names my-3">
              <h1>JAVA SCRIPT</h1>
              <div class="progress w-75">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 45%;">45%</div>
              </div>
            </div>
            <div class="names my-3">
              <h1>C</h1>
              <div class="progress w-75">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 10%;">10%</div>
              </div>
            </div>
            <div class="names my-3">
              <h1>C++</h1>
              <div class="progress w-75">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 20%;">20%</div>
              </div>
            </div>
            <div class="names my-3">
              <h1>JAVA</h1>
              <div class="progress w-75">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 30%;">30%</div>
              </div>
            </div>
            <div class="names my-3">
              <h1>RUBY</h1>
              <div class="progress w-75">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 40%;">40%</div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12 servicediv">
            <div class="row">
              <div class="col-lg-2 col-2 service-icon">
                <i class="fa-3x fa fa-desktop"></i>
              </div>
              <div class="col-lg-10 col-10">
                <h2>WEBSITE DEVELOPMENT</h2>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a consectetur sem, sed</P>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 col-2 service-icon">
                <i class="fa-3x fa fa-wifi"></i>
              </div>
              <div class="col-lg-10 col-10">
                <h2>DIGITAL MARKETING</h2>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a consectetur sem, sed</P>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2 col-2 service-icon">
                <i class="fa-3x fa fa-phone"></i>
              </div>
              <div class="col-lg-10 col-10">
                <h2>SERVICES 24/7</h2>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a consectetur sem, sed</P>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- offer section end -->
    <!-- project section starts -->
    <section class="project-work">
      <div class="container headings text-center">
        <p class="text-center font-weight-bold">MORE THEN 2,000 WEBSITES CREATED</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h1>
              <span class="counter" >2,523</span>
            </h1>
            <h3 class="local" >Customers</h3>
            <a href="#">
              <i class="fa-3x fa fa-user"></i>
            </a>
          </div>
          <div class="col-md-4">
            <h1>
              <span class="counter" >63,075</span>
            </h1>
            <h3 class="local" >Total WebPages</h3>
            <a href="#">
              <i class="fa-3x fa fa-desktop"></i>
            </a>
          </div>
          <div class="col-md-4">
            <h1>
              <span class="counter" >7,000</span>
            </h1>
            <h3 class="local" >Curently Working On</h3>
            <a href="#">
              <i class="fa-3x fa fa-code"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
    <!-- project work end -->
    <!-- card section start -->
    <section class="pricing" id="pricingdiv">
      <div class="container heading text-center">
        <h1 class="text-center font-weight-bold text-white">OUR BEST PRICING</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-12">
            <div class="card text-center">
              <div class="class-header">BASIC</div>
              <div class="card-body">
                <li>$<span class="money">20</span>BASIC</li>
                <li>RESPONSIVE WEBSITE</li>
                <li>RESPONSIVE WEBSITE</li>
                <li>RESPONSIVE WEBSITE</li>
                <li>RESPONSIVE WEBSITE</li>
                <li>RESPONSIVE WEBSITE</li>
              </div>
              <div class="card-fotter">
                <a href="#">PURCHASE</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12 mal-masala">
            <div class="card text-center">
              <div class="class-header">STANDARD</div>
              <div class="card-body">
                <li>$<span class="money">40</span>BASIC</li>
                <li>RESPONSIVE WEBSITE</li>
                <li>RESPONSIVE WEBSITE</li>
                <li>RESPONSIVE WEBSITE</li>
                <li>RESPONSIVE WEBSITE</li>
                <li>RESPONSIVE WEBSITE</li>
              </div>
              <div class="card-fotter">
                <a href="#">PURCHASE</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="card text-center">
              <div class="class-header">PREMIUM</div>
              <div class="card-body">
                <li>$<span class="money">60</span>BASIC</li>
                <li>RESPONSIVE WEBSITE</li>
                <li>RESPONSIVE WEBSITE</li>
                <li>RESPONSIVE WEBSITE</li>
                <li>RESPONSIVE WEBSITE</li>
                <li>RESPONSIVE WEBSITE</li>
              </div>
              <div class="card-fotter">
                <a href="#">PURCHASE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- card section end -->
    <!-- happy clients starts -->
    <section class="Happyclients" id="Happyclientsdiv">
      <div class="container heading text-center">
        <h1 class="text-center font-weight-bold">OUR HAPPY CLIENTS</h1>
        <p class="text-capitalize pt-1">OUR SATISFIED CUSTOMER SAYS</p>
        </div>
        <div id="demo" class="carousel slide" data-ride="carousel">
    
      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
    
      <!-- The slideshow -->
      <div class="carousel-inner container">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="../statics/images/cd.jpg" class="img-fluid img-thumbnail"></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a consectetur sem, sed laoreet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <h1>Bishal Sarkar</h1>
                <h2>Web Devloper</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="../statics/images/cd.jpg" class="img-fluid img-thumbnail"></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a consectetur sem, sed laoreet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <h1>Bishal Sarkar</h1>
                <h2>Web Devloper</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="../statics/images/cd.jpg" class="img-fluid img-thumbnail"></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a consectetur sem, sed laoreet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <h1>Bishal Sarkar</h1>
                <h2>Web Devloper</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="../statics/images/cd.jpg" class="img-fluid img-thumbnail"></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a consectetur sem, sed laoreet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <h1>Bishal Sarkar</h1>
                <h2>Web Devloper</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="../statics/images/cd.jpg" class="img-fluid img-thumbnail"></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a consectetur sem, sed laoreet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <h1>Bishal Sarkar</h1>
                <h2>Web Devloper</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="../statics/images/cd.jpg" class="img-fluid img-thumbnail"></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a consectetur sem, sed laoreet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <h1>Bishal Sarkar</h1>
                <h2>Web Devloper</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="../statics/images/cd.jpg" class="img-fluid img-thumbnail"></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a consectetur sem, sed laoreet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <h1>Bishal Sarkar</h1>
                <h2>Web Devloper</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="../statics/images/cd.jpg" class="img-fluid img-thumbnail"></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a consectetur sem, sed laoreet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <h1>Bishal Sarkar</h1>
                <h2>Web Devloper</h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
              <div class="box">
                <a href="#"><img src="../statics/images/cd.jpg" class="img-fluid img-thumbnail"></a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a consectetur sem, sed laoreet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                <h1>Bishal Sarkar</h1>
                <h2>Web Devloper</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    </section>
    <!-- contact us starts -->
    <section class="contactus" id="contactid">
      <div class="container heading text-center">
        <h1 class="text-center font-weight-bold">CONTACT US</h1>
        <p class="text-capitalize pt-1">We Are here To Help And Answer Any Question You Might Have We Look Forward To Hearing From You 🙂</p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-10 offset-lg-2 offset-md-2 offset-1">
            <form>
              <div class="form-group">
                <input class="form-control" type="text" placeholder="enter your name " id="user name" required autocomplete="off">
              </div>
              <form>
                <div class="form-group">
                  <input class="form-control" type="email" placeholder="enter your email" id="user email" required autocomplete="off">
                </div>
                <div class="form-group">
                  <input class="form-control" type="number" placeholder="enter your number" id="user mobile" required autocomplete="off">
                </div>
                <div class="form-group">
                  <textarea class="form-control" id="comment" rows="4" placeholder="enter your message"></textarea>
                </div>
                <div class="d-flex justify-content-center form-button">
                  <button class="btn btn-primary">
                  SUBMIT
                  </button>
                </div>
              </form>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- news letter section starts -->
    <section class="newsletter" id="newsletterid">
      <div class="container heading text-center">
        <h1 class="text-center font-weight-bold">SUBCRIBE TO OUR NEWS LETTER</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 col-12">
            <div class="input-group md-3">
              <input type="text" class="form-control news-input" placeholder="your email">
              <div class="input-group-append">
                <span class="input-group-text">SUBCRIBE</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- news letter section end -->
    <!-- fotter section starts -->
    <footer class="footersection" id="footerdiv">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12 footer-div">
            <div>
              <h3>ABOUT MEGHAVI</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a consectetur sem, sed laoreet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus velit, eleifend sed placerat at, congue ac felis. Aenean ut sollicitudin risus. Nunc vitae felis lacus. Fusce convallis turpis ligula, eu imperdiet diam congue ac</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 footer-div text-center">
            <div><h3>NAVIGATION LINK</h3>
            <li>
              <a href="#topheader">HOME</a>
            </li>
            <li>
              <a href="#offerdiv">SERVICE</a>
            </li>
            <li>
              <a href="#pricingdiv">PRICE</a>
            </li>
            <li>
              <a href="#newsletterid">ABOUT</a>
            </li>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-12 footer-div">
            <div>
              <h3>NEWS LETTER</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a consectetur sem, sed laoreet libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras risus velit, eleifend sed placerat at, congue ac felis. Aenean ut sollicitudin risus. Nunc vitae felis lacus. Fusce convallis turpis ligula, eu imperdiet diam congue ac</p>
              <div class="container newsletter-main">
                <div class="row">
                  <div class="col-lg-12 col-12">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control news-input" placeholder="your email">
                      <div class="input-group-append">
                        <span class="input-group-text">SUBCRIBE</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="md-5 text-center">
          <p>Copyright ©2021 all right reserved | this tamplate is made with love by Meghavi Bansod</p>
        </div>
        <button class="fa fa-arrow-up" onclick="topFunction()" id="myBtn" title="Go to top"></button>
      </div>
    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js" integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="../statics/scripts/scripts.js"></script>
</body>
</html>